<div class="col-xs-12 fifth-of-a-page">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<div class="col-xs-12 fifth-of-a-page">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-3">
    <b><font size="6">Tidder</font></br>
    <font color="red">INFINUM</font> STUDENT ACADEMY</br></b>
    REDDIT CLONE PROJECT
  </div>
</div>
<%= simple_form_for(resource, as: resource_name, url: user_password_path, html: {method: :post}) do |f| %>
  <div class="col-xs-12 login-form no-padding" id="login-area">
    <div class="col-xs-12 text-center">
      <h2><b>Forgot your password?</b></h2>
    </div>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-3">
    </div>
    <div class="col-xs-4">
      <%= devise_error_messages! %>
      <div class="col-xs-12">
        E-MAIL
        <%= f.input :email, label: false, required: true, autofocus: true, input_html: {size: 40, class: "fuzzy-borders bottom-margin"} %>
      </div>
      <div class="col-xs-12">
        <p><%= render "devise/shared/links" %></p>
      </div>
    </div>
    <div class="col-xs-4">
    </div>
  </div>
  <div class="col-xs-12 fifth-of-a-page text-center">
    <div class="col-xs-12">
      <%= f.button :submit, "Send me reset password instructions", class: "btn btn-small btn-danger bottom-margin top-margin" %>
    </div>
  </div>
<% end %>
<div class="col-xs-12 fifth-of-a-page">
</div>
