<div class="col-xs-12" id="post_content_div">
  <div class="col-xs-2 text-center">
    </br>
    <font size="4"><%= @post.upvotes_count %></font>
  </div>
  <div class="col-xs-10 top-margin">
    <font size="4"><b><%= @post.title %></b></font> </br>
    <font color="#6E6E6E">submitted <b><%= time_ago_in_words(@post.created_at)%></b> ago by <font color="#B80000"><b><%= @post.user.nickname || @post.user.email %></b></font> in
    <%= link_to @post.subreddit.name, subreddit_path(id: @post.subreddit.id) %></font></br></br>
    <%= @post.content %>
    </br></br>
    <% if @post.user == current_user %>
      <%= link_to "edit", edit_subreddit_post_path(@post.subreddit_id, @post.id), class: "btn btn-small btn-default" %>
      <%= link_to "delete", subreddit_post_path(@post.subreddit_id, @post.id), method: 'delete', class: "btn btn-small btn-default" %>
      </br></br>
    <% end %>
  </div>
</div>
<div class="col-xs-12" id="post_comments_div">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-10 top-margin">
    <% if @post.comments.empty?%>
      <p>There are no comments</p>
    <% else %>
      <b><%= @post.comments.count %> comments</b> - leave your mark
    <% end %>
    <div class="span7 text-center top-margin">
      <% @comment = Comment.new %>
      <%= simple_form_for @comment, url: subreddit_post_comments_path(@subreddit.id, @post.id) do |f| %>
          <%= f.input :content, label: false, placeholder: "Your comment goes here", autofocus: true, input_html: {rows: 7, cols: 75, class: "fuzzy-borders"} %>
          <%= f.button :submit, "send comment", class: "btn btn-small btn-danger top-margin bottom-margin" %>
      <% end %>
    </div>
  </div>
</div>
<% @post.comments.each do |comment| %>
  <div class="col-xs-12" id="post_comments_div">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-11">
      </br>
      commented by <font color="#B80000"><%= comment.user.nickname || comment.user.email %></font> - <%= time_ago_in_words(comment.created_at)%> ago </br></br>
    </div>
    <div class="col-xs-2">
    </div>
    <div class="col-xs-10">
      <%= comment.content %>
      </br></br>
    </div>
  </div>
<% end %>
