<div  class="col-xs-12">
  <% @all_subreddits.each do |sub| %>
    <ul class="list-group">
      <li class="row list-group-item">
        <div class="col-xs-2" id=<%="#{sub.id}"%>>
          <%= render partial: 'index_subscribe', locals: { sub: sub } %>
        </div>
        <div  class="col-xs-2">
          <font size="4"><b><%= link_to sub.name, subreddit_path(sub.id) %></b></font> </br>
          <font color="#6E6E6E">created <b><%= time_ago_in_words(sub.created_at)%></b> ago</br>
          <b><%= sub.posts.count %> <%= 'post'.pluralize(sub.posts.count) %></b>
        </div>
        <div  class="col-xs-8">
          <b>Description:</b></br>
          <%= truncate(sub.description, length: 300) %>
        </div>
      </li>
    </ul>
  <% end %>
</div>
